#nav_entries {
    display: none;
}

#nav_entries_enhanced {
	display: table;
	position: fixed;
	bottom: 0rem; left: 0;
	width: 300px;
	table-layout: fixed;
	padding-bottom: env(safe-area-inset-bottom);
	z-index: 50;
	background-color: var(--background-color-light);
	border-top: 1px solid var(--border-color);
}

#nav_entries_enhanced button {
	background-color: transparent;
	display: table-cell;
	height: 3.5rem;            /* slightly smaller to fit 5 in 300px */
	width: 20%;                /* each button takes exactly 1/5 of width */
	border: 0;
	cursor: pointer;
	padding: 0.25rem;          /* small internal padding */
	text-align: center;
	vertical-align: middle;
}

#nav_entries_enhanced button:hover {
	background-color: var(--frss-darken-background-hover-transparent);
}

@media print {
    #nav_entries_enhanced {
        display: none;
    }
}

@media (max-width: 840px) {
    #nav_entries_enhanced {
        width: 100%;
    }
}

